pkgbase = klipa-bin
	pkgdesc = Small, fast, menubar clipboard manager with keep-awake
	pkgver = 0.4.7
	pkgrel = 1
	url = https://klipa.peterdsp.dev
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = libxdo
	depends = libayatana-appindicator
	provides = klipa
	conflicts = klipa
	source = klipa-0.4.7.tar.gz::https://github.com/peterdsp/klipa/releases/download/v0.4.7/klipa-0.4.7-linux-x86_64.tar.gz
	sha256sums = c880e745f360d0ec17e330c4a2db8708394aed1682d1358bd67e27c6d2ad7a67

pkgname = klipa-bin
